@charset "windows-1251";
body{
	font-family: Arial,sans-serif;
	color: #333333;	
	margin: 0px;
	padding: 0px;
}

a.menu{
	font-weight: bold;
	text-decoration: none;
	color: #42929D;
}
.mmenu {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #42929D;
}

a.niz {
	color: #999999;
	text-decoration: underline;
	clear: both;
}

.feature{
	padding: 5px 5px 5px 5px;
	font-size: 80%;
}

.feature img{
	float: left;
	padding: 2px 2px 2px 2px;
	margin: 0 0px 0px 0;
}
.menutext {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 75%;
	font-weight: bold;
	color: #42929D;
	text-align: left;
}

.bottom {
	font-size: 70%;
	color: #000000;
	padding: 0px 0px 0px 0px;
	clear: both;
	text-align: center;
}
.alltext {
	font-size: 80%;
}
.abzac {
	width: 25px;
	height: 1px;
}

a.menu:hover {

	font-weight: bold;
	text-decoration: underline;
}
.story{
	clear: both;
	padding: 10px 0px 0px 10px;
	font-size: 50%;
	color: #999999;
}
.head1 {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #42929D;
	text-align: center;
	font-size: x-large;
	}
.mmenu2 {

	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
}
a.menu2 {
	font-weight: bold;
	text-decoration: none;
	color: #42929D;
	font-style: italic;
	font-size: 90%;
}
a.menu2:hover {
	font-weight: bold;
	text-decoration: underline;
	font-style: italic;
	font-size: 90%;
}
.feature2 {
	padding: 0px 0px 0px 0px;
	font-size: 80%;
	text-align: center;
}
.feature2 img {

	float: left;
	padding: 0px 10px 0px 0px;
	margin: 0 5px 5px 0;
}
.feature3 {
	padding: 0px 0px 0px 0px;
	font-size: 80%;
	text-align: center;
	font-weight: bolder;
}
.feature4 {
	padding: 0px 0px 0px 0px;
	font-size: 80%;
	text-align: center;
	color: #FF0000;
}
.bottom2 {

	font-size: 70%;
	color: #FF0000;
	padding: 0px 0px 0px 0px;
	clear: both;
	text-align: center;
}
.bold1 {


	font-size: 120%;
	color: #0000FF;
	padding: 0px 0px 0px 0px;
	clear: both;
	text-align: left;
}
.bold2 {
	font-size: 100%;
	color: #000000;
	padding: 0px 0px 0px 0px;
	clear: both;
	text-align: left;
	font-style: italic;
	font-weight: bold;
}
.bold3 {

	font-size: 100%;
	color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	clear: both;
	text-align: center;
	font-style: italic;
	font-weight: bolder;
}
#f1{
	padding: 5px 0px 5px 10px;
	border-bottom: 1px solid #000000;
	font-size: 90%;
}

#f1 form{
 margin: 0px;
 padding: 0px;
}
#f1 label{
	display: block;
	margin: 0px;
	padding: 0px;
}
.bold4 {


	font-size: 100%;
	color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	clear: both;
	text-align: right;
	font-style: italic;
	font-weight: bolder;
}
.head2 {
	font-style: italic;
	color: #42929D;
	text-align: left;
}
a.niz2 {
	color: #42929D;
	text-decoration: underline;
	clear: both;
	font-size: 80%;
}
.head3 {
	color: #42929D;
	text-align: left;
	font-weight: bold;
}
.feature5 {
	padding: 0px 0px 0px 0px;
	font-size: 100%;
	text-align: left;
	color: #FF0000;
	font-weight: bold;
}
.menutext2 {

	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 75%;
	font-weight: bold;
	color: #42929D;
	text-align: right;
}
a.small {
	font-size: 80%;
	font-weight: bold;
	text-decoration: none;
	color: #42929D;
}
.smalltext {
	font-size: 80%;
	font-weight: normal;
	color: #000000;
}
a.small:hover {
	font-size: 80%;
	font-weight: bold;
	text-decoration: underline;
	color: #42929D;
}
a.small2 {

	font-size: 80%;
	font-weight: lighter;
	text-decoration: none;
	color: #999999;
}
a.small2:hover {

	font-size: 80%;
	font-weight: lighter;
	text-decoration: underline;
	color: #999999;
}
.feature7 {

	padding: 0px 0px 0px 0px;
	font-size: 80%;
	font-weight: bolder;
}
a.smallred {

	font-size: 80%;
	font-weight: bold;
	text-decoration: none;
	color: #FF0000;
}
a.smallred:hover {

	font-size: 80%;
	font-weight: bold;
	text-decoration: underline;
	color: #FF0000;
}
.litle {
	font-size: 90%;
	font-style: normal;
}
.mmenuHand {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #42929D;
	cursor: hand;
}
.smalltextR {
	font-size: 80%;
	font-weight: normal;
	color: #000000;
	text-align: right;
}
a.menu7:hover {


	font-weight: bold;
	color: #42929D;
	text-decoration: underline;
}
a.menu7 {
	font-weight: bold;
	text-decoration: none;
	color: #42929D;
}
a.menu8 {
	font-weight: bold;
	text-decoration:  underline;
	color: #FF0000;
	font-style: italic;
	font-size: 90%;
}
a.menu8:hover {
	font-weight: bold;
	text-decoration: underline;
	font-style: italic;
	font-size: 90%;
}

//раскр список
.domenabled #finderparent
{
	border:1px solid #000;
	position:relative;
	height:150px;
}
.domenabled #finder
{
	position:absolute;
	top:1em;
	left:1em;
}
.domenabled ul#finder,
.domenabled ul#finder li,
.domenabled ul#finder ul
{
	width:300px;
	list-style-type:none;
	margin:0;
	padding:0;
}
.domenabled ul#finder ul.hidden
{
	top:0px;
	left:-2000px;
	position:absolute;
}
.domenabled ul#finder ul.shown
{
	top:0px;
	left:300px;
	position:absolute;
}
.domenabled #finder a.open
{
	background:url(arrowon.gif) no-repeat 90% 50% #eee;
	padding-right:16px;
	padding-left:0px;
	display:block;
}
.domenabled #finder a.parent
{
	background:url(arrow.gif) no-repeat #fff 100% 50%;
	padding-right:16px;
	padding-left:0px;
}
.domenabled ul#finder li a
{
	color:#000;
	background:url(normal.gif) no-repeat #fff 0 50% ;
	padding-left:16px;
	text-decoration:none;
}
//Раскр список
